#
# Pin assignments for the Nexys3 Board.
#
net board_clk loc=V10; # 100 MHz board clock
NET board_clk CLOCK_DEDICATED_ROUTE=FALSE;

# [Right , Down ,Left , Up , Center ] 
Net BTN<0> LOC=D9  |  IOSTANDARD=LVCMOS33;
Net BTN<1> LOC=C9  |  IOSTANDARD=LVCMOS33;
Net BTN<2> LOC=C4  |  IOSTANDARD=LVCMOS33;
Net BTN<3> LOC=A8  |  IOSTANDARD=LVCMOS33;
Net BTN<4> LOC=B8  |  IOSTANDARD=LVCMOS33;

Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
Net SW<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
Net SW<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
Net SW<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
Net SW<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

Net SSEG_CA<0> LOC=T17 | IOSTANDARD=LVCMOS33; # Connected to CA
Net SSEG_CA<1> LOC=T18 | IOSTANDARD=LVCMOS33; # Connected to CB
Net SSEG_CA<2> LOC=U17 | IOSTANDARD=LVCMOS33; # Connected to CC
Net SSEG_CA<3> LOC=U18 | IOSTANDARD=LVCMOS33; # Connected to CD
Net SSEG_CA<4> LOC=M14 | IOSTANDARD=LVCMOS33; # Connected to CE
Net SSEG_CA<5> LOC=N14 | IOSTANDARD=LVCMOS33; # Connected to CF
Net SSEG_CA<6> LOC=L14 | IOSTANDARD=LVCMOS33; # Connected to CG
Net SSEG_CA<7> LOC=M13 | IOSTANDARD=LVCMOS33; # Connected to DP
Net SSEG_AN<3> LOC=N16 | IOSTANDARD=LVCMOS33; # Connected to AN0
Net SSEG_AN<2> LOC=N15 | IOSTANDARD=LVCMOS33; # Connected to AN1
Net SSEG_AN<1> LOC=P18 | IOSTANDARD=LVCMOS33; # Connected to AN2
Net SSEG_AN<0> LOC=P17 | IOSTANDARD=LVCMOS33; # Connected to AN3